* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}


body {
    background: RGB(221 238 242);
    font-family: 'Montserrat', sans-serif;
}


nav {
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100%;

}

nav.menu-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
  }

.item_lista_superior {
    text-decoration: none;
    list-style: none;
}
.navegador_top {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.navegador_top li {
    margin-right: 10px;
}

.navegador_hipertop {
    align-items: center;
    background-color: rgb(148,210,222);

}

.input-container {
    flex-grow: 1;
    margin: 0 10px;
}

.input-container input {
    width: 900px;
    height: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#carrinho {
    list-style-type: none;
    margin-right: 40px;
}

#carrinho_img {
    width: 35px;
    margin-right: 30px;
}

.img_carrosel {
    width: 1000%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.input-container {
    display: inline-block;
    position: relative;
}




#destaques {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

nav a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

nav a:hover {
    color: aqua; 
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30;
    
}

.product {
    padding: 5px;
}





#categorias {
    background-color: RGB(221 238 242);
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 350px;
    top: 300px;
    margin-left: 150px;
    right: 150px;
    padding-right: 100px;
    padding-left: 20px;
    padding-top: 25px;
    border: #000;
    border-radius: 5px;
    box-shadow: 0px 2px 4px RGB(110 155 164);
}

#categorias ul {
    list-style: none;
    padding: 15px;
}

#categorias ul li {
    display: block;
    margin-bottom: 20px;
}
#categorias ul li a {
    display: block;
    text-decoration: none;
}

.product_category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.finder {
    background-color: #17009c;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finder button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
}

.finder p {
    color: #fff;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.retangulo {
    width: 200px;
    height: 300px;
    background-color: RGB(209 247 255);
    box-shadow: 0px 2px 4px RGB(110 155 164);
    transition: border-top 0.3s;
    margin: 10px;
    display: flex;

}

.retangulo:hover {
    border-bottom: 4px solid rgb(18, 61, 155);
}

.retangulo span {
    display: block;
    text-align: center;
    color: rgb(7, 20, 131);
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;

}

.texto_retangulo {
    color:rgb(18, 61, 155)
}

.product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    
}

/* Estilos para o menu superior */
.navegador_hipertop {
    background-color: #f5f5f5;
    padding: 10px;
}

ul.navegador_top {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.botoes {
    background-color: rgb(18, 61, 155);
    color: white;
    align-self: self-end;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    margin-left: 65px;
    position: absolute;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 100;
    top: 0;
    width: 100vh;
    height: 60vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.0);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
}


.forms {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo com transparência */
}

.modalFormsContent {
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}